@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

* {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

html,
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #1f2937;
}

button:focus-visible {
    outline: 2px solid #4a90e2 !important;
    outline: -webkit-focus-ring-color auto 5px !important;
}

a {
    text-decoration: none;
}

img {
    border: none;
    outline: none;
    display: block;
}